bind 0.0.0.0
port 6379

timeout 300
tcp-keepalive 60

maxmemory 256mb
maxmemory-policy allkeys-lru

loglevel notice
logfile ""

dir /data

appendonly yes
appendfsync everysec

requirepass "${REDIS_PASSWORD}"
